Source: libpff
Section: unknown
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, zlib1g-dev, python-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/libpff/

Package: libpff
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libpff-dbg
Description: Library to access the Personal Folder File (PFF) and the Offline Folder File (OFF) format. PFF is used in PAB (Personal Address Book), PST (Personal Storage Table) and OST (Offline Storage Table) files.
 libpff is a library to access the Personal Folder File (PFF) and the Offline Folder File (OFF) format. PFF is used in PAB (Personal Address Book), PST (Personal Storage Table) and OST (Offline Storage Table) files.

Package: libpff-dbg
Architecture: any
Section: debug
Depends: libpff (= ${Source-Version}), ${misc:Depends}
Description: Debugging symbols for libpff

Package: libpff-dev
Section: libdevel
Architecture: any
Depends: libpff (= ${Source-Version})
Description: Header files and libraries for developing applications for libpff
 Header files and libraries for developing applications for libpff.

Package: libpff-tools
Section: utils
Architecture: any
Depends: libpff (= ${Source-Version}), ${shlibs:Depends}
Description: Several tools for reading Personal Folder Files (OST, PAB and PST)
 Several tools for reading Personal Folder Files (OST, PAB and PST)

Package: libpff-python
Section: python
Architecture: any
Depends: libpff (= ${Source-Version}), ${shlibs:Depends}, ${python:Depends}
Suggests: libpff-python-dbg
Description: Python bindings for libpff
 Python bindings for libpff.

Package: libpff-python-dbg
Section: debug
Architecture: any
Depends: libpff-python (= ${Source-Version})
Description: Debugging symbols for libpff-python
 Debugging symbols for libpff-python.

